@charset "utf-8";

article{margin-right: auto; margin-left: auto;}
caption{font-size:20px; margin-bottom:15px; font-weight:50;}
th{font-size:20px; color:#434342;}
.i_div{display:inline-block; width:35%; height:240px; margin-left:30px; margin-right:30px; margin-top:40px;}


.i_table{width:100%; height:auto; border: 1px solid #000;}


.i_table th{font-size:15px;}
.i_table td{font-size:12px;}

.i_no{width:15%; text-align: center;}
.i_title{width:65%; text-align: center;}
.i_hit{width:20%; text-align: center;}
.i_table_title{padding-top: 5px;border-bottom: 1px solid #000; padding-bottom:5px;}

.i_cb_title{width:40%; text-align: center;}
.i_cb_cmt{width:40%; text-align: center;}

.i_index{ color:#656a61;}

.i_big{font-size:20px;}

.i_title a:link{color:#656a61;text-decoration:none;}
.i_title a:visited{color:#656a61;text-decoration:none;}
.i_title a:hover{color:#656a61;text-decoration:none;}
.i_title a:active{color:#656a61;text-decoration:none;}
strong a:link{color:#000;text-decoration:none;}
strong a:visited{color:#000;text-decoration:none;}
strong a:hover{color:#000;text-decoration:none;}
strong a:active{color:#000;text-decoration:none;}

.rbd{font-size:15px; color:#4d6c8b; padding-left:10px;}
.rcmt{font-size:15px; padding-left:20px;color:#4d6c8b;}

#m_title{margin-left:10%;font-size:25px;  font-weight:50; border-bottom:10px;}
#m_div{width:85%; border:1px solid black; margin-right: auto; margin-left: auto;}
#m_table{width:17%; border:1px solid black; display:inline-block;}

