.paging {margin-right: auto; margin-left: auto; text-align: center;}
.paging a:link{color:#898989;text-decoration:none;}
.paging a:visited{color:#898989;text-decoration:none;}
.paging a:hover{color:#898989;text-decoration:none;}
.paging a:active{color:#898989;text-decoration:none;}
