@charset "utf-8";

@import url(http://fonts.googleapis.com/earlyaccess/jejumyeongjo.css);

#member_list1{font-family: 'Jeju Myeongjo', serif;width: 1000px;height: 60px;border: 1px solid #d0d0d0;border-radius: 5px;margin-right: auto;margin-left: auto;}
#member_list1 th{width:820px;font-size: 20px;border-top:5px;border-bottom: 5px; font-weight: bold;}
#member_list1 td{width:60px;font-size: 15px;border-top:5px;border-bottom: 5px;}
.total_member {font-size:17px; font-weight: bold; }
#member_list2{font-family: 'Jeju Myeongjo', serif;width: 1000px;height: 40px;border: 1px solid #d0d0d0;border-radius: 5px;margin-right: auto;margin-left: auto; }
.num{width:50px;}
.cnt{width:70px;}


.id{width:60px;}
.n_name{width:60px;}

.p_number{width:120px;}
.email{width:120px;}


.gender{width:60px;}
.area{width:60px;}

.insert_date{width:180px;}
.last_date{width:180px;}
#member_list3{font-family: 'Jeju Myeongjo', serif;width: 1000px;border: 1px solid #d0d0d0;border-radius: 5px;margin-right: auto;margin-left: auto; text-align: center;}
.m_list3_line{font-family: 'Jeju Myeongjo', serif;width: 1000px;height: 8px;margin-right: auto;margin-left: auto;}

#search{width: 1080px;text-align: right;}